---
import { Icon } from 'astro-icon/components';
import { type Post, sort } from '@/content/posts';

interface Props {
  posts: Post[]
}

const { posts } = Astro.props;

const postsByYear = sort(posts).reduce((_, post) => {
  const year = String(post.data.publishDate!.getFullYear());
  if (!_[year]) _[year] = [];
  _[year].push(post);
  return _;
}, {} as {[key:string]:Post[]});

---
<div>
{Object.keys(postsByYear).sort().reverse().map(year =>(
  <div id={year} class="text-xl mb-5">{year}</div>
  <div class="">{postsByYear[year].map(post=>(

    <div class="mb-4 w-full flex items-center justify-between">
       <a class="font-bold" href={`/posts/${post.id}`} title={post.data.title}>{post.data.title}</a>
       <div class="flex items-center text-0.8rem">
         <Icon class="mr-2px mt--1px" name="mdi:calendar-month"/>
         <time datetime={post.data.publishDateISOString}>{post.data.publishDateFormatString}</time>
       </div>
    </div>

  ))}</div>
  
))}
</div>